<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1 style="color: aliceblue;">Angular Assessment</h1>
    <div class="d-flex">
      <button (click)="clickAddUser()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Add User</button>
    </div>
  </div>
</nav>

<table class="table mt-3" *ngIf="showRow">
  <thead>
    <tr>
      <th scope="col">ID No.</th>
      <th scope="col">Full Name</th>
      <th scope="col">Email Address</th>
      <th scope="col">Contact No.</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of userData">
      <td>{{ row.id }}</td>
      <td>{{ row.name }}</td>
      <td>{{ row.email }}</td>
      <td>{{ row.phone }}</td>
      <td>
        <button (click)="viewUser()" class="btn btn-secondary" [routerLink]="['/users/', row.id]">View</button>
        <button (click)="userEdit(row)" style="color: aliceblue;" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info mx-1">Edit</button>
        <button (click)="deleteUser(row)" class="btn btn-danger mx-1">Delete</button>
      </td>
    </tr>
  </tbody>
</table>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">User Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" formControlName="name" class="form-control" id="exampleName">
          <small class="text-danger">Name is required</small>
          </div>
          <div class="mb-3" >
            <label for="email" class="form-label">Email address</label>
            <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <!-- <span *ngIf="!formValue.get('userData.email').valid && formValue.get('userData.email').touched"
            class="help-block"></span> -->
            <small class="text-danger">Email is required</small>
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Contact No.</label>
            <input type="number" formControlName="phone" class="form-control" id="exampleContact">
            <small class="text-danger">Contact number is required</small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" *ngIf="showAdd" (click) = "postUserDetails()" class="btn btn-primary">Add</button>
        <button type="button" *ngIf="showUpdate" (click) = "updateUserDetails()" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>
